SOLOMONIC_HOST_PORT=8086
SOLOMONIC_SHARED_NETWORK=fortress-phronesis-net
SOLOMONIC_GUIDED_PROMPTS_API_KEY=
SOLOMONIC_PSALM_SOURCE_MODE=pericope_first
SOLOMONIC_PERICOPE_API_BASE=http://augustine-corpus-live:8001
SOLOMONIC_VIBEVOICE_API_BASE=http://192.168.0.126:8011
SOLOMONIC_VIBEVOICE_FALLBACK_API_BASE=http://192.168.0.126:8013
SOLOMONIC_VIBEVOICE_API_TOKEN=
SOLOMONIC_VIBEVOICE_PROJECT_ID=solomonic-seals
SOLOMONIC_VIBEVOICE_SPEAKER=Carter
